@charset "utf-8";
/* CSS Document */

h1  {
	font-size:60px;
}

 .col-sm-4 {
	font-size: 30px;
}

.jumbotron {
	display:flex;
	 align-items: center;
	background-image:url(plane.jpg);
	background-image:no-repeat;
	background-size:cover;
	height:600px;
}

.jumbotron h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

  .col-sm-5{
	display:flex;
	background-image: url(heartcloud.jpg);
	background-image: no-repeat;
	background-size: cover;
	height:300px;
	
}

.col-sm-6{
	display:flex;
	background-image: url(plane2.jpg);
	background-image: no-repeat;
	background-size: cover;
	height:300px;
	
	
}

h4 {
	
	color: black;
	font-size: 30px;
	
}

h5 {
	
     color: black;
	font-size: 30px;
	
}
    #about { 
	  text-align: justify;
      color:#fff;
	  font-size: 15px;
	  
	  
}

#story  {
	      color: #fff;
	      font-size: 15px;
          text-align: justify;	  
	 
}
ul {
	
	color:#fff;
	font-size: 15px;

}

footer {
	background-color: skyblue;
  font-size: 12px;
  padding: 20px 0;
	
}
